<div>
    <h1>Bienvenido, {{user.name}}!</h1>
    <h4>Productos</h4>
    <ul>
        {{#each products.docs}}
        <li>
            {{this.name}} {{this.price}} {{this.descripcion}} {{this.stock}} {{this.code}} {{this.category}} {{this.status}}
        </li>
        {{/each}} 
    </ul>
    <div>
        {{#if products.hasPrevPage}}
        <a href="/products?page={{products.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{products.page}} de {{products.totalPages}}</span>
    
        {{#if products.hasNextPage}}
        <a href="/products?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
    <a href="/logout">Logout</a>
</div>
